.block-container_name {
  color: rgb(83, 80, 80);
  text-transform: uppercase;
  margin: 10px 0;
}
.block-container:nth-child(-n + 4) {
  margin-top: -25px;
}
.block-container:nth-child(4n + 1) {
  display: inline-block;
  margin-left: 150px;
}
.block-container {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
}

.block-container img {
  width: 320px;
}

.block-container.hide {
  visibility: hidden;
}

.block-container:hover .block-container_name {
  color: black;
}

.block-container:hover .inline {
  color: black;
}

.inline:first-child {
  margin-left: 0;
}
.inline {
  display: inline-block;
  margin-left: 50px;
  font-size: 14px;
  color: grey;
  margin-top: 10px;
}

@media (max-width: 450px) {
  .block-container {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .block-container:nth-child(4n + 1) {
    display: inline-block;
    margin-left: 0px;
  }

  .block-container:nth-child(-n + 4) {
    margin-top: 0px;
  }
  .block-container img {
    display: inline-block;
    width: 100%;
  }
  .blockContainer_name {
    color: rgb(83, 80, 80);
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: 16px;
  }
  .block-details {
    display: block;
  }
  .inline {
    margin-left: 23px;
    color: grey;
    margin-top: 10px;
    font-size: 12px;
    margin-top: -5px;
  }
}
