h3 {
  text-align: center;
}

h6 {
  text-align: center;
}

.nav-link-custom {
  color: black;
  transition: all 0.5s ease;
  font-family: "Sacramento";
  margin: 27px 0 0px 0px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.2em;
}

.links {
  display: flex;
  width: 25%;
  color: black;
}

.works-text {
  text-align: center;
  padding-top: 100px;
}

.nav-link-custom:hover {
  color: black;
  text-decoration: none;
}

.nav-link-custom.active {
  color: red;
  font-weight: 600;
}
.fab.fa-instagram {
  font-size: 23px;
}
@media (max-width: 2048px) {
  .header-menu {
    display: none;
  }
}
@media (max-width: 450px) {
  .links.open {
    transform: translateY(-200);
    border: 5px solid blue;
    transform: translateY(-100);
  }
  .nav-link:hover {
    color: red;
  }
  .works-text {
    font-size: 10px;
  }
  .nav-link-custom {
    color: #fff;
  }

  .nav-link-custom.active {
    display: none;
  }
  .links {
    transition: transform 5s ease-in;
    top: 00px;
    width: 100%;
    position: relative;
    background-color: black;
    color: #fff;
    z-index: 999;
    text-align: center;
  }
}
