.about-img img {
  width: 120%;
  height: 600px;
  margin-top: -50px;
  margin-left: -400px;
}

.works-text {
  margin-left: -525px;
}

.about-img.col {
  height: 50%;
}

@media (max-width: 450px) {
  .about-img img {
    margin-top: 0;
    margin-left: 25px;
    height: 80%;
  }
  .works-text {
    padding-left: 125px;
  }
  .about-img .works-text {
    padding-top: 20px;
    padding-left: 25px;
  }
}
