.header {
  font-size: 22px;
  margin: 30px 0 55px 105px;
}
.header-text {
  color: black;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.header-text:hover {
  color: black;
  text-decoration: none;
}
.inner {
  text-align: center;
  position: relative;
}

@media (max-width: 450px) {
  .header {
    font-size: 16px;
    margin: 30px 0 35px 50px;
  }
  .header-text {
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.05em;
  }
}
