.gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 50px;
  position: relative;
  width: 90%;
  margin-left: 50px;
}
.galleryItem {
  margin-left: -23px;
  cursor: pointer;
}
.galleryItem img {
  width: 95%;
}

@media (max-width: 450px) {
  .gallery {
    display: grid;
    grid-template-columns: 33.3%;
    grid-gap: 50px;
  }
  .galleryItem {
    width: 350%;
  }

  .galleryItem img {
    width: 150%;
    margin-left: -125px;
  }
}
