.gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 50px;
}
.galleryItem {
  cursor: pointer;
  margin-bottom: 25px;
}
.galleryItem:nth-child(-n + 3) {
  margin-top: -100px;
}
ul {
  width: 1550px;
  left: 200px;
}
li {
  list-style-type: none;
}
img {
  width: 460px;
}

@media (max-width: 450px) {
  .gallery {
    display: grid;
    grid-template-columns: 33.3%;
    grid-gap: 50px;
  }
  .galleryItem {
    width: 115%;
  }

  .galleryItem img {
    width: 150%;
    margin-left: -150px;
  }
}
