.gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-gap: 50px;
}
.galleryItem {
  cursor: pointer;
  margin-bottom: 25px;
}
ul {
  width: 3300px;
  margin-left: 175px;
}
li {
  list-style-type: none;
}
img {
  width: 450px;
}

@media (max-width: 450px) {
  .gallery {
    display: grid;
    grid-template-columns: 33.3%;
    grid-gap: 50px;
  }
  .galleryItem {
    width: 115%;
  }

  .galleryItem img {
    width: 150%;
    margin-left: -100px;
  }
}
