.photo {
  background-repeat: no-repeat;
  background-position-y: -50px;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.main-text-text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 16px;
  margin-top: -100px;
  cursor: pointer;
  z-index: 999;
  text-shadow: rgb(133, 129, 129) 2px 2px;
}
.main-text-text:hover {
  text-decoration: none;
  color: #fff;
}

.main-text-name {
  color: white;
  margin-bottom: 300px;
  font-size: 72px;
  text-shadow: rgb(133, 129, 129) 2px 2px;
}

.countur {
  border: solid 2px #fff;
  width: 98%;
  height: 95%;
  margin: 25px auto;
  position: absolute;
}

.icon {
  transform: rotate(90deg);
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  right: -1px;
  background-color: white;
}

.arrow::after {
  top: 8px;
  right: 50px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 15px;
  right: 50px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
}

@media (max-width: 450px) {
  .photo {
    z-index: 888;
    width: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  .main-text-text {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6em;
    font-size: 22px;
    margin: 0px 0;
    text-shadow: rgb(133, 129, 129) 2px 2px;
  }
  .countur {
    border: solid 2px #fff;
    width: 96%;
    height: 98%;
    margin: 10px auto;
    position: absolute;
  }
  .main-text-name {
    font-size: 60px;
  }
}
