.messageContainer {
  font-family: "Sacramento";
  left: 450px;
  top: 250px;
  position: fixed;
  width: 50%;
  height: 70%;
  z-index: 200;
  background-color: #fff;
}
.contact-container {
  margin: 0 auto;
  width: 90%;
}

.contact-text-container {
  display: flex;
  justify-content: space-between;
}

.contact-text {
  margin-top: 50px;
  font-size: 22px;
  color: #000;
  letter-spacing: 0.2em;
  display: inline-block;
}

.fa-times {
  cursor: pointer;
  margin-top: 25px;
}

label {
  margin-top: 50px;
  display: block;
}
.contactInput {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.form-group-text {
  display: inline-block;
  width: 47.5%;
}
.form-group-text:last-child {
  margin-left: 25px;
}

small {
  display: block;
  color: #000;
}

input[type="submit"] {
  height: 50px;
  width: 150px;
  background-color: #000;
  border: none;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 0.8s;
  border: 3px solid transparent;
}

@media (max-width: 450px) {
  .messageContainer {
    left: 0px;
    top: 0;
    width: 100%;
  }
  .contact-text {
    margin-top: 40px;
    font-size: 16px;
    color: #000;
    letter-spacing: 0em;
    display: inline-block;
  }
  .fa-times {
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 36px;
  }
  label {
    font-size: 12px;
  }
  .form-group-text {
    display: block;
    width: 90%;
  }
  .form-group-text:last-child {
    display: block;
    width: 90%;
    margin-left: 0px;
  }
}
