html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-custom {
  margin: 0 auto;
  width: 92.5%;
}

@media (max-width: 450px) {
  .container-custom {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
  }
  .container-overflow {
    overflow: hidden;
  }
}
