.container-custom {
  margin: 0 auto;
  width: 92.5%;
}

@media (max-width: 450px) {
  .container-custom {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
  }
  .content {
    font-family: "Sacramento";
    font-weight: normal;
  }
}
