body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Sacramento";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Sacramento", monospace;
}
