.imageContainer {
  font-family: "Sacramento";
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.imageContainer img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50px;
  width: 45%;
}
.imageContainer i {
  position: relative;
  display: block;
  font-size: 24px;
  left: 650px;
}
@media (max-width: 450px) {
  .imageContainer {
    width: 90%;
    height: 100vh;
  }
  .imageContainer img {
    top: 100px;
    width: 85%;
  }
  .imageContainer i {
    left: 150px;
  }
}
